<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.second_project.user.UserChildMapper">
    <insert id="insUserChildren">
        INSERT INTO
        (iuser, gender, ichild_age)
        VALUES
        (#{iuser}, #{gender}, #{ichild_age})
    </insert>

    <select id="selUserChildren">
        SELECT ichild_age, gender
        FROM t_user_child
        WHERE iuser = #{iuser}
    </select>

    <delete id="delUserChildren">
        DELETE FROM t_user_child
        WHERE iuser = #{iuser}
    </delete>
</mapper>